@{
    var count = 0;
    if (ViewBag.NotiCount != null)
    {
        count = ViewBag.NotiCount;
    }
}

<style>
    .dropdown-menu {
        border: 1px solid #cccbcb;
        color: #ffd800;
        opacity: 1;
    }

    #noti-div{
        border: 1px solid #808080
    }

    #noti-div {
        max-height: 300px;
        overflow-y: scroll;
    }

    #list-group-box {
        min-width: 500px
    }
    @@media only screen and (max-width: 600px) {
        #list-group-box {
            max-width: 500px !important;
        }
    }


</style>


<button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-bell"></i>
    <span class="count bg-danger">@count</span>
</button>

<div class="dropdown-menu" aria-labelledby="notification" id="noti-div">
    @if (count <= 0)
    {
        <p class="text-danger noti-items"> No New Notification!</p>
    }
    else
    {
        <p class="text-info noti-items" > <i class="ti-info"></i> You have @count Notification</p>
        <ul class="list-group">
        @foreach (var item in ViewBag.Notifications)
        {
            <a class="dropdown-item media" href="@Url.Action("Index", "Notification", new { id = item.NotiID })">
                <li class="list-group-item" id="list-group-box">
                    <span class="pull-left"> @item.Title</span> <span class="pull-right text-info"> @item.RelativeTime </span>
                    <br />
                    <em>@item.Remark</em>
                </li>
            </a>
        }
            </ul>
    }
</div>





