@model LUSSISADTeam10Web.Models.Report.MonthlyItemUsageViewModel

@{
    ViewBag.Title = "Item Usage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
    </style>
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1><b>Item Trend Analysis</b></h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action(" Index", "Clerk" )">Dashboard</a></li>
                    <li class="active">Item Trend Analysis</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">


        <div class="card">
            @*<div class="card-header">
                    <i class="mr-2 fa fa-align-justify"></i>
                    <strong class="card-title"> Title Here </strong>
                </div>*@
            <div class="card-body">

                <br />

                <div class="row">
                    <div class="col-3">Select Your Month</div>
                    <div class="col-6">
                        <select name="month" class="form-control">
                            @{ foreach (var item in ViewBag.ilist)
                                    {
                                <option value="@item.Itemid">@item.Description</option>
                                    } }
                        </select>

                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-3">Select 1<sup>st</sup> Supplier </div>
                    <div class="col-6">
                        <select name="d1" class="form-control">

                            @{


                                    foreach (var item in ViewBag.slist)
                                    {

                                <option asp-for="ItemTrendAnalysis"
                                        value="@item.SupId" class="ifrm-check-input">
                                    @item.SupName
                                </option>
                                    }


                            }
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-3">Select 2<sup>nd</sup> Supplier </div>
                    <div class="col-6">
                        <select name="d2" class="form-control">
                            @{


                                    foreach (var item in ViewBag.slist)
                                    {

                                <option asp-for="ItemTrendAnalysis"
                                        value="@item.SupId" class="ifrm-check-input">
                                    @item.SupName
                                </option>
                                    }


                            }
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-3">Select 3<sup>rd</sup> Supplier </div>
                    <div class="col-6">
                        <select name="d3" class="form-control">
                            @{
                                    foreach (var item in ViewBag.slist)
                                    {

                                <option asp-for="ItemTrendAnalysis"
                                        value="@item.SupId" class="ifrm-check-input">
                                    @item.SupName
                                </option>
                                    }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <button id="btnGenerate">Generate</button>
                </div>
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>


    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            // to built plain chart
            var datasets = [0, 0, 0];
            var lbls = ['Supplier1', 'Supplier2', 'Supplier3'];

            var months = ['January', 'February', 'March', 'April', 'May', 'June',
                'July', 'August', 'September', 'October', 'November', 'December'];

            var ctx = document.getElementById("myChart");
            var data = {
                labels: lbls,
                datasets: [
                    {
                        label: months[ @DateTime.Today.Month-3 ],
                        backgroundColor: 'rgba(128,201,190, 0.45)',
                        borderColor: 'rgba(128,201,190, 1)',
                        borderWidth: 1,
                        data: datasets
                    },
                    {
                        label: months[ @DateTime.Today.Month-2 ],
                        backgroundColor: 'rgba(72,105,127, 0.45)',
                        borderColor: 'rgba(72,105,127, 1)',
                        borderWidth: 1,
                        data: datasets
                    },
                    {
                        label: months[ @DateTime.Today.Month-1 ],
                        backgroundColor: 'rgba(233,151,144, 0.45)',
                        borderColor: 'rgba(233,151,144, 1)',
                        borderWidth: 1,
                        data: datasets
                    }
                ]
            };
            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    barValueSpacing: 20,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                minRotation: 0,
                                maxRotation: 0
                            }
                        }]
                    }
                }
            });
            ctx.style.display = "none";

            $("#btnGenerate").click(function () {
                chartData(2, 4, 6, 3, 'sup1', 'sup2', 'sup3');
            });

            function chartData (s1, s2, s3, itemid, suplbl1, suplbl2, suplbl3) {
                var req = { s1: s1, s2: s2, s3: s3, item: itemid};

                var urls = '@Url.Action("GetItemUsageData", "Reports")';

                $.ajax({
                    type: "POST",
                    url: urls,
                    data: JSON.stringify(req),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    error: function (err) {
                        alert('Error: ' + err.statusText);
                    },
                    success: function (result) {
                        myBarChart.data.labels = [suplbl1, suplbl2, suplbl3];
                        myBarChart.data.datasets[0].data = result["s1"];
                        myBarChart.data.datasets[1].data = result["s2"];
                        myBarChart.data.datasets[2].data = result["s3"];
                    },
                    async: false,
                    processData: false
                });
                ctx.style.display = "block";
                myBarChart.update();
            };
        });
    </script>
}
