@model LUSSISADTeam10Web.Models.Report.RequisitionListViewModel

@{
    ViewBag.Title = "RequisitionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
    </style>
}
<h2>RequisitionList</h2>

@if (ViewBag.Count == 0)
{


    <form asp-action="RequisitionList" asp-controller="Reports" method="post" autocomplete="off">
        <div class="row">
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.Deptid, new SelectList(ViewBag.departmentlist))

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4"><b>@Html.LabelFor(model => model.startdate)</b> </div>
            <div class="col-md-5">@Html.TextBoxFor(model => model.startdate, new { id = "datepicker"})</div>
        </div><br />
        <div class="row">
            <div class="col-md-4"><b> @Html.LabelFor(model => model.enddate)</b> </div>
            <div class="col-md-5">@Html.TextBoxFor(model => model.enddate, new { id = "datepicker1"})</div>
            <br />
            <br />
        </div>




        <input type="hidden" name="deptid" asp-for="model.Deptid" value="@Model.Deptid" />
        <input type="hidden" name="startdate" asp-for="model.startdate" value="@Model.startdate" />
        <input type="hidden" name="enddate" asp-for="model.enddate" value="@Model.enddate" />


        <input type="submit" value="submit" class="cancel" />
    </form>

}

<div class="card-body">

    @if (ViewBag.Count == 0)
    {

        <h1>There is no transaction for this item </h1>
    }
    else
    {

        <table id="bootstrap-data-table" class="table table-striped table-bordered">
            <thead class="table-info">
                <tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Deptid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reqdate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.rd)
                {
                    <tr>
                        <td>
                            @item.Deptid
                        </td>
                        <td>
                            @item.Reqdate

                        </td>
                        <td>
                            @item.Status
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
</div>



@section Scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker1").datepicker({
                dateFormat: 'dd/mm/yy',
                showAnim: 'slide',
                disabled: true
            });
            $("#datepicker1").datepicker('setDate', null);
            $("#datepicker").datepicker({
                dateFormat: 'dd/mm/yy',
                showAnim: 'slide',
                onSelect: function (date) {

                    $('#datepicker1').datepicker("option", "disabled", false);
                    $("#datepicker1").datepicker("option", "minDate", date);
                    $('#datepicker1').datepicker('setDate', date);
                    $("#datepicker1").datepicker("option", "maxDate", '+2y');

                }
            });
            $("#datepicker").datepicker('setDate', 'today');
        });
    </script>
}
