@model LUSSISADTeam10Web.Models.HOD.ApproveRequisitionViewModel
@{
    ViewBag.Title = "Approve Requisition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
    </style>
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Approve Requisition</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "HOD")">Dashboard</a></li>
                    <li class="active">Approve Requisition</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">


        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-align-justify"></i>
                <strong class="card-title"> Requisition ID : @ViewBag.RequisitionModel.Reqid </strong>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">

                    <dt>
                        Requisition Date : 
                    </dt>

                    <dd>
                        @ViewBag.RequisitionModel.Reqdate
                    </dd>
                    <dt>
                        Raised By : 
                    </dt>

                    <dd>
                        @ViewBag.RequisitionModel.Rasiedbyname
                    </dd>

                    <dt>
                        Collection Point :
                    </dt>

                    <dd>
                       @ViewBag.RequisitionModel.Cpname
                    </dd>


                </dl>
                <hr />
                <table>
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Request Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.RequisitionModel.Requisitiondetails)
                        {
                            <tr>
                                <td>@item.Itemname</td>
                                <td>@item.Qty</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <hr />

                <form asp-action="ApproveCollectionPoint" asp-controller="HOD" method="post">
                    <textarea name="remark" id="textarea-input" rows="2" placeholder="Remark..." class="form-control" asp-for="@Model.Remark"></textarea>
                    <br />

                    <div class="form-check-inline form-check">
                        <label for="inline-radio1" class="form-check-label ">
                            <input type="hidden" name="ReqID" asp-for="@Model.ReqID" value="@Model.ReqID" />
                            <input type="radio" id="inline-radio1" name="approve" asp-for="@Model.Approve" value="true" class="form-check-input"> Approve
                        </label>
                        <label for="inline-radio2" class="form-check-label ">
                            <input type="radio" id="inline-radio2" name="approve" asp-for="@Model.Approve" value="false" class="form-check-input"> Reject
                        </label>
                    </div>


                    <input type="Submit" class="btn btn-outline-success btn-flat m-b-30 m-t-30" value="Submit">
                </form>



            </div>
        </div>



    </div>
</div>

@section Scripts {
    <script type="text/javascript"></script>
}





