@model LUSSISADTeam10Web.Models.HOD.ApproveRequisitionViewModel
@{
    ViewBag.Title = "Approve Requisition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
    </style>
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Approve Requisition</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8 hideinmobile">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                    <li class="active">Approve Requisition</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">


        <div class="card">
            <div class="card-body">
                <div class="mx-auto d-block">
                    <h5 class="text-sm-center text-info hideinmobile"> <i class="fa fa-check fa-3x"></i><br /> Approve / Reject Requisition </h5><br />
                    <h6>Raised By :  @ViewBag.RequisitionModel.Rasiedbyname </h6><br />
                    <h6>Collection Point : @ViewBag.RequisitionModel.Cpname</h6><br />
                    <h6>Requested Date :  @ViewBag.RequisitionModel.Reqdate</h6><br />
                    <div class="text-sm-center">

                        <table class="table table-bordered table-hover">
                            <thead class="table-info">
                                <tr>
                                    <th>Item Name</th>
                                    <th>Category Name</th>
                                    <th>Quantity</th>
                                    <th class="hideinmobile">UOM</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.RequisitionModel.Requisitiondetails)
                                {
                                    <tr>
                                        <td>@item.Itemname</td>
                                        <td>@item.CategoryName</td>
                                        <td>@item.Qty</td>
                                        <td class="hideinmobile">@item.UOM</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>


                <hr>


                <div class="card-text text-sm-center">

                    <form asp-action="ApproveRequisition" asp-controller="HOD" method="post">
                        <textarea name="remark" id="textarea-input" rows="2" autofocus placeholder="Remark..." class="form-control" asp-for="@Model.Remark"></textarea>
                        <br />
                        <div class="form-check-inline form-check">
                            <label for="inline-radio1" class="form-check-label ">
                                <input type="hidden" name="ReqID" asp-for="@Model.ReqID" value="@Model.ReqID" />
                                <input type="radio" id="inline-radio1" name="approve" checked asp-for="@Model.Approve" value="true" class="form-check-input"> Approve &nbsp;&nbsp;&nbsp;
                            </label>
                            <label for="inline-radio2" class="form-check-label ">
                                <input type="radio" id="inline-radio2" name="approve" asp-for="@Model.Approve" value="false" class="form-check-input"> Reject
                            </label>
                        </div>


                        <input type="Submit" class="btn btn-outline-success pull-right btn-flat m-b-30 m-t-30" value="Confirm">
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>

@section Scripts {
    <script type="text/javascript"></script>
}





