@model IEnumerable<LUSSISADTeam10Web.Models.APIModels.CollectionPointModel>
@{
    ViewBag.Title = "Collection Point";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lat = 1.3521;
    var lng = 103.8698;
    var cplist = new List<double[]>();
    var counter = 0;
}
@section Styles {
    <style>
    </style>
}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Collection Point</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8 hideinmobile">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "HOD")">Dashboard</a></li>
                    <li class="active">Collection Point</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">

        <div class="card">
     
            <div class="card-body">
                <h4><strong class="card-title"> Current Collection Point : <span class="text-info">@ViewBag.ActiveCollectionPoint </span></strong></h4>
                @if (ViewBag.PendingCPR)
                {
                    <h5 class="text-sm-center text-info hideinmobile"> <i class= "fa fa-map-marker fa-3x"></i><br /> Pending Collection Point Request </h5><br />

                    foreach (var item in ViewBag.PendingCollectionPoints)
                    {
                        lat = ViewBag.Latitude;
                        lng = ViewBag.Longitude;

                        <h5>Location Name : @item.CpName</h5><br />
                        <h5>Location : @item.CpLocation</h5>
                        <br />

                        <div id="map_populate" style="width:100%; height:200px;"></div>
                        <br />
                        <div class="card-text text-sm-right">
                            <a href="@Url.Action("CancelCollectionPoint", "HOD", new { id = item.DeptCpID })" class="btn btn-outline-danger">Cancel Request</a>
                        </div>
                    }



                }

                else
                {

                    <h5 class="text-sm-center text-info hideinmobile"> <i class="fa fa-map-marker fa-3x"></i><br /> Change Collection Point </h5><br />


                    <form asp-action="CollectionPoint" asp-controller="HOD" method="post">
                        <div class="form-check col-md-4" id="radio" onchange="change()">
                            @foreach (var item in ViewBag.CollectionPointsList)
                            {
                                cplist.Add(new double[] { item.Latitude, item.Longitude });
                                counter++;
                                <div class="radio">
                                    <label for="@item.Cpid" class="form-check-label">
                                        <input asp-for="SelectedRole" type="radio" id="@item.Cpid" name="id"
                                               @if (item.Cpname == ViewBag.ActiveCollectionPoint) { @: checked
                                               lat = item.Latitude; lng = item.Longitude; }
                                               value="@item.Cpid" class="ifrm-check-input"> @item.Cpname
                                        </label>
                                    </div>
                                    <br />
                                }

                            <input type="Submit" class="btn btn-outline-info m-b-30 m-t-30" value="Change">
                        </div>
                        <div class="col-md-8">
                            <div id="map_populate" style="width:100%; height:320px;"></div>
                        </div>
                    </form>
                }
            </div>
        </div>

    </div>
</div>
</div>
@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8UpozIrTb-kqTx2K8zydcLiNbi6YDaEY" type="text/javascript"></script>
    <script type="text/javascript">
        var mapcode;
        var diag;
        var marker;
        var latt = @lat;
        var lngg = @lng;
        var list = [[1, 1]];
            @for(int i=0; i<cplist.Count; i++){

                <text>
                    list.push([@cplist[i][0], @cplist[i][1]]);
                </text>

            }
        function change() {
            var radio = Array.from(document.querySelectorAll('#radio input'));
            var value = radio.length && radio.find(r => r.checked).id;

            latt = list[value][0];
            lngg = list[value][1];

            initMap(16);
        }

        function initMap(z) {
            mapcode = new google.maps.Geocoder();
            var lnt = new google.maps.LatLng(latt, lngg);
            var diagChoice = {
                zoom: z,
                center: lnt,
                diagId: google.maps.MapTypeId.ROADMAP
            }
            diag = new google.maps.Map(document.getElementById('map_populate'), diagChoice);

            mark(lnt);

            function mark(location) {
                marker = new google.maps.Marker({
                    map: diag,
                    draggable: false,
                    position: location
                });
            }
        }
        window.onload = initMap(13);
    </script>
}