@model LUSSISADTeam10Web.Models.APIModels.RequisitionModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
    </style>
}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Head of Department</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "HOD")">Dashboard</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart" height="250"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><a href="@Url.Action("RequisitionsList")"><i class="ti-package text-info border-info"></i></a></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Pending Requisitons</div>
                                <div class="stat-digit">@ViewBag.ReqCount</div>
                            </div>
                        </div>
                    </div>
                </div>

                @if (Session["role"].ToString() == "4")
                {
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><a href="@Url.Action("AssignDepRep")"><i class="ti-user text-success border-success"></i></a></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Department Representative</div>
                                    <div class="stat-digit">@ViewBag.Repname</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><a href="@Url.Action("CollectionPoint")"><i class="ti-location-pin text-danger border-danger"></i></a></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Collection Point</div>
                                    <div class="stat-digit">@ViewBag.CollectionPoint</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><a href="@Url.Action("SearchPreviousDelegation")"><i class="ti-share text-warning border-warning"></i></a></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Temporary HOD</div>
                                    <div class="stat-digit">@ViewBag.TempHOD</div>
                                    <em>@ViewBag.TempDate</em>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        var lbls = [];
        var dt = [];
        var urls = '@Url.Action("GetChartData", "HOD")';
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: lbls,
                datasets: [{
                    data: dt,
                    backgroundColor: [
                        'rgba(128,201,190, 0.65)',
                        'rgba(242,226,205, 0.65)',
                        'rgba(233,151,144, 0.65)',
                        'rgba(215,210,203, 0.65)',
                        'rgba(72,105,127, 0.65)'
                    ],
                    borderColor: [
                        'rgba(128,201,190,1)',
                        'rgba(242,226,205, 1)',
                        'rgba(233,151,144, 1)',
                        'rgba(215,210,203, 1)',
                        'rgba(72,105,127, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem) {
                            return tooltipItem.yLabel;
                        }
                    }
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            autoSkip: true,
                            maxRotation: 45,
                            minRotation: 45,
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            borderDash: [2, 5]
                        }
                    }]
                },
                animation: {
                    easing: 'easeOutQuart'
                }
            }
        });
        ctx.style.display = "none";
        function loadData() {
            $.ajax({
                type: "POST",
                url: urls,
                contentType: 'application/json; charset=utf-8',
                error: function (err) {
                    alert('Error: ' + err.statusText);
                },
                success: function (result) {
                    myChart.data.labels = result["labels"];
                    myChart.data.datasets[0].data = result["data"];
                },
                async: false,
                processData: false,
            });
            ctx.style.display = "block";
            myChart.update();
        }
        window.onload = loadData;
    </script>
}