@model LUSSISADTeam10Web.Models.APIModels.RequisitionModel

@{
    ViewBag.Title = "Requisition Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>    

        @@media only screen and (max-width: 600px) {


            .hideinmobile {
                display: none;
            }
        }
    </style>
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Requisition Detail</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8 hideinmobile">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "HOD")">Dashboard</a></li>
                    <li><a href="@Url.Action("OrderHistory", "HOD")">Order History</a></li>
                    <li class="active">Requisition Detail</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">


        <div class="card">

            <div class="card-body">



                <div class="card">

                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <h5 class="text-sm-center text-info hideinmobile"> <i class="fa fa-braille fa-3x"></i><br /> Requisition Detail </h5><br />
                            <h6>Raised By :  @Model.Rasiedbyname </h6><br />
                            <h6>Collection Point : @Model.Cpname</h6><br />
                            <h6>Requested Date :  @Model.Reqdate.Value.ToString("d")</h6><br />
                            <div class="text-sm-center">

                                <table class="table table-bordered table-hover">
                                    <thead class="table-info">
                                        <tr>
                                            <th>Item Name</th>
                                            <th class="hideinmobile">Category Name</th>
                                            <th>Quantity</th>
                                            <th>UOM</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Requisitiondetails)
                                        {
                                            <tr>
                                                <td>@item.Itemname</td>
                                                <td class="hideinmobile">@item.CategoryName</td>
                                                <td>@item.Qty</td>
                                                <td>@item.UOM</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>


                        <hr>


                        <div class="card-text text-sm-right">
                            Approved By : <strong>@Model.Approvedbyname</strong>
                        </div>
                    </div>
                </div>


            </div>
        </div>



    </div>
</div>

@section Scripts {
    <script type="text/javascript"></script>
}




