@model LUSSISADTeam10Web.Models.APIModels.RequisitionModel

@{
    ViewBag.Title = "RequisitionDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RequisitionDetail</h2>

<div>
    <h4>RequisitionModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reqid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reqid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.raisedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.raisedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rasiedbyname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rasiedbyname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.approvedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.approvedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.approvedbyname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.approvedbyname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.depid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.depid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.depname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.depname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reqdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reqdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
