@model LUSSISADTeam10Web.Models.APIModels.RequisitionModel

@{
    ViewBag.Title = "Track Requisition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "HOD")">Dashboard</a></li>
                    <li><a href="@Url.Action("RequisitionsList", "HOD")">Requisitions List</a></li>
                    <li class="active">Track Requisiton</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">


        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-align-justify"></i>
                <strong class="card-title">Track Requisition : @Model.Reqid</strong>
            </div>
            <div class="card-body">


                <div class="stepwizard">
                    <div class="stepwizard-row">
                        <div class="stepwizard-step">
                            <button type="button" class="btn @ViewBag.Pending btn-circle">1</button>
                            <p>Request Pending</p>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn @ViewBag.Preparing btn-circle" disabled="disabled">2</button>
                            <p>Preparing</p>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn @ViewBag.Ready btn-circle" disabled="disabled">3</button>
                            <p>Ready to Collect</p>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn @ViewBag.Collected btn-circle" disabled="disabled">4</button>
                            <p>Completed</p>
                        </div>
                    </div>
                </div>

                <div class="row">


                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <h5 class="text-sm-center text-info"> <i class="fa fa-location-arrow fa-3x"></i><br /> @ViewBag.Track </h5><br />
                                    <h6>Raised By :  @Model.Rasiedbyname </h6><br />
                                    <h6>Collection Point : @Model.Cpname</h6><br />
                                    <h6>Requested Date :  @Model.Reqdate.Value.ToString("d")</h6><br />
                                    <div class="text-sm-center">

                                        <table class="table table-bordered table-hover">
                                            <thead class="table-info">
                                                <tr>
                                                    <th>Item Name</th>
                                                    <th>Category Name</th>
                                                    <th>Quantity</th>
                                                    <th>UOM</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach(var item in Model.Requisitiondetails)
                                                {
                                                    <tr>
                                                        <td>@item.Itemname</td>
                                                        <td>@item.CategoryName</td>
                                                        <td>@item.Qty</td>
                                                        <td>@item.UOM</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>


                                <hr>


                                <div class="card-text text-sm-right">
                                    Approved By : <strong>@Model.Approvedbyname</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>



    </div><!-- .animated -->
</div><!-- .content -->
