@model IEnumerable<LUSSISADTeam10Web.Models.Supervisor.AdjustmentViewModel>

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Adjustment Form</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "Manager")">Dashboard</a></li>
                    <li class="active">History</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">


        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-align-justify"></i>
                <strong class="card-title"> History Adjustment List </strong>
            </div>

            <div class="card-body">
                <h5 class="text-sm-center text-info"> <i class="fa fa-history fa-3x"></i><br /> Adjustment History </h5><br />
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <tr>
                                <th>
                                    Issued Date
                                </th>
                                <th>
                                    Reported By
                                </th>
                                <th>
                                    Reported To
                                </th>
                                <th>
                                    Total Price
                                </th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr style="background-color:lightblue">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Issueddate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Raisedbyname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RaisedTobyname)
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(modelItem => item.TotalPrice)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Category</th>
                                    <th>Item</th>
                                    <th>Adjusted Qty</th>
                                    <th>UOM</th>
                                    <th>Price</th>
                                    <th>Reason</th>
                                </tr>
                                foreach (var i in item.adjdvm)
                                {

                                    <tr style="border:hidden;width:inherit">
                                        <td>
                                            @Html.DisplayFor(modelItem => i.CategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => i.Itemdescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => i.Adjustedqty)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => i.UOM)
                                        </td>
                                        <td>
                                            $@Html.DisplayFor(modelItem => i.Price)
                                        </td>
                                        <td>
                                            @if (i.Reason == "" || i.Reason == null)
                                            {
                                                i.Reason = "_";
                                            }
                                            @Html.DisplayFor(modelItem => i.Reason)
                                        </td>
                                    </tr>
                                }

                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>