<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - LUSSIS</title>
    <meta name="description" content="LUSSIS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="~/styles/images/logo.png">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/styles/css/normalize.css">
    <link rel="stylesheet" href="~/styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/styles/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Styles/css/style.css" />
    <link rel="stylesheet" href="~/styles/css/themify-icons.css">
    <link rel="stylesheet" href="~/styles/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/styles/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/styles/scss/style.css">
    <link rel="stylesheet" href="~/styles/css/lib/datatable/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/Styles/css/lib/datatable/buttons.bootstrap.min.css" />
    <link rel="stylesheet" href="~/Styles/css/lib/datatable/buttons.bootstrap.min.css" />
    <link rel="stylesheet" href="~/styles/css/animate.css">
    <link rel="stylesheet" href="~/styles/css/bootstrap-select.css">
    <link rel="stylesheet" href="~/styles/css/bootstrap.css.map">
    <link rel="stylesheet" href="~/styles/css/variables.css">
    <link href="~/styles/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href="~/styles/css/datatable.min.css" rel="stylesheet">
    <script src="~/Styles/Scripts/sweetalert2.all.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>


    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <style>
        body, nav {
            font-family: Arial;
            font-size: 13px !important;
        }

        .navbar .navbar-nav li > a {
            font-family: Arial;
            font-size: 13px !important;
        }

        .btn, .button {
            border-radius: 5px !important;
        }

        .btn-info {
            background-color: #3AAFA9 !important;
        }

        .menutoggle {
            background-color: #3AAFA9 !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 0px !important;
        }

        .dataTables_paginate .pagination li:hover a {
            background: #3AAFA9;
            border-color: #344955;
            color: white;
        }

        .dataTables_paginate .pagination li.active a {
            background: #3AAFA9;
            border-color: #272c33;
            color: white;
        }

        .Table.dataTable thead .sorting::before, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_desc_disabled::before {
            right: 1em;
            content: "";
        }

        .table.dataTable thead .sorting::before, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_desc_disabled::before {
            right: 1em;
            content: "";
        }

        .table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::after {
            right: 0.5em;
            content: "";
        }

        .hidefordatesorting {
            display: none;
        }

        @@media only screen and (max-width: 600px) {
            #logoimg {
                width: 40px;
                height: 40px;
            }

            .navbar-brand {
                margin-top: 0px !important;
            }


            .hideinmobile {
                display: none;
            }
        }

        @@media (max-width: 575.99px) {
            .right-panel header.header .col-sm-5 {
                float: left !important;
                margin-right: 70px;
            }
        }


        table.dataTable tbody tr {
            background-color: #DAE6E5;
        }
    </style>

</head>
<body>

    @if (Session["Noti"] == null)
    {

    }
    else
    {
        var notitype = Session["notitype"];
        var notititle = Session["notititle"];
        var notimessage = Session["notimessage"];

        if (notitype != null)
        {

            <script>
                swal(
                    '@notititle',
                    '@notimessage',
                    '@notitype'
                )</script>
        }

        Session["noti"] = null;
        Session["notitype"] = null;
        Session["notititle"] = null;
        Session["notimessage"] = null;
    }

    <aside id="left-panel" class="left-panel" style="background-color:black; opacity: 0.9; ">
        <nav class="navbar navbar-expand-sm navbar-default sticky-top" style="background-color:black; opacity: 0.9; border:none; border-color:#344955">
            <div class="navbar-header" style="background-color:black; opacity: 0.9;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="~/styles/images/logo.png" id="logoimg" alt="Logo" width=100 height=100></a>
                <a class="navbar-brand hidden" href="./"><img src="~/styles/images/logo2.png" alt="Logo"></a>
            </div>

            @{
                var role = "";
                var department = "";
            }


            @if (Session["Role"] == null)
            {
                <script>
                    location.href = '@Url.Action("Logoff", "Account")';
                </script>
            }
            else
            {
                department = Session["department"].ToString();

                if (Session["Role"].ToString() == "4")
                {
                    role = "Head of Department";

                    <div id="main-menu" class="main-menu collapse navbar-collapse" style="background-color:black">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="@Url.Action("Index", "Home")"> <i class="menu-icon ti-dashboard"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="@Url.Action("SearchPreviousDelegation", "HOD")"><i class="menu-icon ti-user"></i>Delegate Authority </a>
                            </li>
                            <li>
                                <a href="@Url.Action("AssignDepRep", "HOD")"> <i class="menu-icon fa fa-user"></i>Department Representative </a>
                            </li>
                            <li>
                                <a href="@Url.Action("OrderHistory", "HOD")"> <i class="menu-icon fa fa-history"></i>Previous Requisitions </a>
                            </li>
                            <li>
                                <a href="@Url.Action("CollectionPoint", "HOD")"> <i class="menu-icon ti-location-pin"></i> Collection Points </a>
                            </li>
                            <li>
                                <a href="@Url.Action("RequisitionsList", "HOD")"> <i class="menu-icon ti-package"></i> Requisitions</a>
                            </li>

                        </ul>
                    </div>
                }
                else if (Session["Role"].ToString() == "5" || Session["Role"].ToString() == "6")
                {
                    role = "Department Representative";

                    if (Session["Role"].ToString() == "5")
                    {
                        role = "Employee";
                    }

                    <div id="main-menu" class="main-menu collapse navbar-collapse" style="background-color:black">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="@Url.Action("Index", "Home")"> <i class="menu-icon ti-dashboard"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="@Url.Action("RaiseRequisition","Employee")"> <i class="menu-icon ti-stats-up"></i>Raise Requisition </a>
                            </li>
                            <li>
                                <a href="@Url.Action("TrackRequisitions", "Employee")"> <i class="menu-icon ti-package"></i>Requisitions</a>
                            </li>
                            <li>
                                <a href="@Url.Action("OrderHistory", "HOD")"> <i class="menu-icon fa fa-history"></i> Previous Requisitions</a>
                            </li>
                        </ul>
                    </div>
                }
                else if (Session["Role"].ToString() == "1")
                {
                    role = "Store Clerk";


                    <div id="main-menu" class="main-menu collapse navbar-collapse" style="background-color:black">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="@Url.Action("Index", "Home")"> <i class="menu-icon ti-dashboard"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ShowActiveSupplierlist", "Clerk")"> <i class="menu-icon ti-user"></i> Suppliers</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Manage", "Clerk")"> <i class="menu-icon ti-panel"></i> Inventory </a>
                            </li>
                            <li>
                                <a href="@Url.Action("SearchByTransDate", "Clerk")"> <i class="menu-icon fa fa-shopping-basket"></i> Item Transactions</a>
                            </li>
                            <li>
                                <a href="@Url.Action("PendingCollectionPoint", "Clerk")"> <i class="menu-icon ti-location-pin"></i> CollectionPoint Requests</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Requisition", "Clerk")"> <i class="menu-icon ti-package"></i> Requisitions </a>
                            </li>
                            <li>
                                <a href="@Url.Action("StationaryRetrievalForm", "Clerk")"> <i class="menu-icon fa fa-file-pdf-o"></i> Stationery Retrieval List </a>
                            </li>
                            <li>
                                <a href="@Url.Action("DisbursementLists", "Clerk")"> <i class="menu-icon fa fa-newspaper-o"></i> Disbursements </a>
                            </li>
                            <li>
                                <a href="@Url.Action("RequisitionsComplete", "Clerk")"> <i class="menu-icon fa fa-history"></i> Previous Disbursements </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Outstanding", "Clerk")"> <i class="menu-icon ti-new-window"></i> Outstandings</a>
                            </li>
                            <li>
                                <a href="@Url.Action("PurchaseOrders", "Clerk")"> <i class="menu-icon ti-shopping-cart"></i>Purchase Orders </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Inventory", "Clerk")"> <i class="menu-icon ti-marker-alt"></i>Inventory Check</a>
                            </li>
                            <li class="menu-item-has-children dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Reports</a>
                                <ul class="sub-menu children dropdown-menu">
                                    <li><i class="fa fa-table"></i> <a href="@Url.Action("ItemUsageReport", "Reports")">Purchase Order Analysis</a></li>
                                    <li><i class="fa fa-table"></i> <a href="@Url.Action("ItemTrendAnalysisReport", "Reports")">Trend Analysis</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                }
                else if (Session["Role"].ToString() == "7")
                {
                    role = "Temp HOD";


                    <div id="main-menu" class="main-menu collapse navbar-collapse" style="background-color:black">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="@Url.Action("Index", "Home")"> <i class="menu-icon ti-dashboard"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="@Url.Action("RaiseRequisition","Employee")"> <i class="menu-icon ti-stats-up"></i>Raise Requisition </a>
                            </li>

                            <li>
                                <a href="@Url.Action("RequisitionsList", "HOD")"> <i class="menu-icon ti-package"></i>Requisitions</a>
                            </li>
                            <li>
                                <a href="@Url.Action("OrderHistory", "HOD")"> <i class="menu-icon fa fa-history"></i> Previous Requisitions </a>
                            </li>

                        </ul>
                    </div>

                }
                else
                {
                    <div id="main-menu" class="main-menu collapse navbar-collapse" style="background-color:black">
                        <ul class="nav navbar-nav">
                            @if (Session["Role"].ToString() == "2")
                            {
                                role = "Supervisor";


                                <li class="active">
                                    <a href="@Url.Action("Index", "Home")"> <i class="menu-icon ti-dashboard"></i> Dashboard</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Approve", "Supervisor")"><i class="menu-icon ti-stamp"></i>Approve Adjustment</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("History", "Supervisor")"> <i class="menu-icon fa fa-history"></i> Adjustments History </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShowActiveSupplierlist", "Clerk")"> <i class="menu-icon ti-user"></i> Suppliers</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Manage", "Clerk")"> <i class="menu-icon ti-panel"></i> Inventory </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SearchByTransDate", "Clerk")"> <i class="menu-icon fa fa-shopping-basket"></i> Item Transactions</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("PurchaseOrders", "Clerk")"> <i class="menu-icon ti-shopping-cart"></i>Purchase Orders </a>
                                </li>
                                <li class="menu-item-has-children dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Reports</a>
                                    <ul class="sub-menu children dropdown-menu">
                                        <li><i class="fa fa-table"></i> <a href="@Url.Action("ItemUsageReport", "Reports")">Item Usage Analysis</a></li>
                                        <li><i class="fa fa-table"></i> <a href="@Url.Action("ItemTrendAnalysisReport", "Reports")">Trend Analysis</a></li>
                                    </ul>
                                </li>
                            }
                            else if (Session["Role"].ToString() == "3")
                            {
                                role = "Manager";


                                <li class="active">
                                    <a href="@Url.Action("Index","Manager")"> <i class="menu-icon ti-dashboard"></i>Dashboard</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Approve", "Manager")"><i class="menu-icon ti-stamp"></i>Approve Adjustment</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("History", "Supervisor")"> <i class="menu-icon fa fa-history"></i> Adjustment History</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShowActiveSupplierlist", "Clerk")"> <i class="menu-icon ti-user"></i> Suppliers</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Manage", "Clerk")"> <i class="menu-icon ti-panel"></i> Inventory </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SearchByTransDate", "Clerk")"> <i class="menu-icon fa fa-shopping-basket"></i> Item Transactions</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("PurchaseOrders", "Clerk")"> <i class="menu-icon ti-shopping-cart"></i>Purchase Orders </a>
                                </li>
                                <li class="menu-item-has-children dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Reports</a>
                                    <ul class="sub-menu children dropdown-menu">
                                        <li><i class="fa fa-table"></i> <a href="@Url.Action("ItemUsageReport", "Reports")">Purchase Order Analysis</a></li>
                                        <li><i class="fa fa-table"></i> <a href="@Url.Action("ItemTrendAnalysisReport", "Reports")">Trend Analysis</a></li>
                                    </ul>
                                </li>
                            }

                            else
                            {
                                <li class="active">
                                    <a href="@Url.Action("Index", "Home")"> <i class="menu-icon ti-dashboard"></i> Dashboard</a>
                                </li>
                            }

                        </ul>
                    </div>
                }

            }


        </nav>
    </aside>
    <div id="right-panel" class="right-panel">
        <header id="header" class="header sticky-top">
            <div class="header-menu">
                <div class="col-sm-5">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <div class="dropdown for-notification" id="notifications">

                        </div>
                    </div>
                </div>
                <div class="col-sm-7">

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="~/styles/images/user.png" alt="@User.Identity.Name">
                        </a>
                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="@Url.Action("Logoff", "Account")"><i class="ti-power-off"></i> Logout</a>
                        </div>
                    </div>
                    <div class="text-info float-right" style="margin: 0 0 0 0; font-size: 12px;">
                        Welcome, @User.Identity.Name.ToUpper()<br />
                        <span class="text-dark"> @role |  @department</span>
                    </div>
                </div>
            </div>
        </header>


        <div class="col-md-12">
            @RenderBody()
        </div>

    </div>
    <script type="text/javascript" src="~/Styles/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Styles/js/lib/data-table/jquery.dataTables.min.js"></script>
    <script src="~/styles/js/popper.min.js"></script>
    <script src="~/styles/js/plugins.js"></script>
    <script src="~/styles/js/main.js"></script>
    <script src="~/styles/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="~/styles/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="~/styles/js/lib/vector-map/country/jquery.vmap.world.js"></script>
    <script src="~/styles/js/lib/data-table/datatables.min.js"></script>
    <script src="~/styles/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="~/styles/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/styles/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="~/styles/js/lib/data-table/jszip.min.js"></script>
    <script src="~/styles/js/lib/data-table/pdfmake.min.js"></script>
    <script src="~/styles/js/lib/data-table/vfs_fonts.js"></script>
    <script src="~/styles/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="~/styles/js/lib/data-table/buttons.print.min.js"></script>
    <script src="~/styles/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="~/styles/js/lib/data-table/datatables-init.js"></script>
    <script type="text/javascript" src="~/Styles/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="~/Styles/js/qrcode.js"></script>
    <script src="~/Styles/js/Chart.bundle.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <!-- DataTable -->
    @RenderSection("scripts", required: false)

    <script>


            $(document).ready(function () {
                $.ajax({
                    url: '@Url.Action("GetNotifications", "Home")',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $(notifications).html(data);
                    }
                });
            setInterval(function () {
                $.ajax({
                    url: '@Url.Action("GetNotifications", "Home")',
                        data: {},
                        type: 'GET',
                        success: function (data) {
                            $(notifications).html(data);
                        }
                    });
                }, 10000);
                


                    });


    </script>

</body>
</html>