<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - LUSSIS</title>
    <meta name="description" content="LUSSIS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="~/styles/images/logo.png">


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")


    <link rel="stylesheet" href="~/styles/css/normalize.css">
    @*<link rel="stylesheet" href="~/styles/css/bootstrap.min.css">*@

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/styles/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/styles/css/themify-icons.css">
    <link rel="stylesheet" href="~/styles/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/styles/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/styles/scss/style.css">
    <link rel="stylesheet" href="~/styles/css/lib/datatable/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/styles/css/animate.css">
    <link rel="stylesheet" href="~/styles/css/bootstrap-select.css">

    <link rel="stylesheet" href="~/styles/css/bootstrap.css.map">
    <link rel="stylesheet" href="~/styles/css/variables.css">



    <link href="~/styles/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href="~/styles/css/datatable.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.25.6/dist/sweetalert2.all.min.js"></script>

    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <style>
        body, nav {
            font-size: 12px !important;
        }

        .navbar .navbar-nav li > a {
            font-size: 13px !important;
        }

        .btn, .button {
            border-radius: 5px !important;
        }
    </style>

</head>
<body>

    @if (Session["Noti"] == null)
    {

    }
    else
    {
        var notitype = Session["notitype"];
        var notititle = Session["notititle"];
        var notimessage = Session["notimessage"];

        if (notitype != null)
        {

            <script>
                swal(
                    '@notititle',
                    '@notimessage',
                    '@notitype'
                )</script>
        }

        Session["noti"] = null;
        Session["notitype"] = null;
        Session["notititle"] = null;
        Session["notimessage"] = null;
    }



    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel" style="background-color:black; ">
        <nav class="navbar navbar-expand-sm navbar-default sticky-top" style="background-color:black; border:none; border-color:#344955">
            <div class="navbar-header" style="background-color:black">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="~/styles/images/logo.png" alt="Logo" width=60 height=60></a>
                <a class="navbar-brand hidden" href="./"><img src="~/styles/images/logo2.png" alt="Logo"></a>
            </div>
            @{
                var role = "";
                var department = "";
            }


            @if (Session["Role"] == null)
            {
                <script>
                    location.href = '@Url.Action("Logoff", "Account")';
                </script>
            }
            else
            {
                department = Session["department"].ToString();

                if (Session["Role"].ToString() == "4")
                {
                    role = "Head of Department";

                    <div id="main-menu" class="main-menu collapse navbar-collapse" style="background-color:black">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="@Url.Action("Index", "Home")"> <i class="menu-icon ti-dashboard"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="@Url.Action("SearchPreviousDelegation", "HOD")"> <i class="menu-icon ti-user"></i>Delegate Authority </a>
                            </li>
                            <li>
                                <a href="@Url.Action("AssignDepRep", "HOD")"> <i class="menu-icon ti-exchange-vertical"></i>Assign Department Rep </a>
                            </li>
                            <li>
                                <a href="@Url.Action("OrderHistory", "HOD")"> <i class="menu-icon ti-files"></i>Order History </a>
                            </li>
                            <li>
                                <a href="@Url.Action("CollectionPoint", "HOD")"> <i class="menu-icon ti-location-pin"></i>Change Collection Points </a>
                            </li>
                            <li>
                                <a href="@Url.Action("RequisitionsList", "HOD")"> <i class="menu-icon ti-check"></i> Requisitions List </a>
                            </li>
                            <li class="menu-item-has-children dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Reports</a>
                                <ul class="sub-menu children dropdown-menu">
                                    <li><i class="fa fa-table"></i><a href="tables-basic.html">Mothly Item Usage Report</a></li>
                                    <li><i class="fa fa-table"></i><a href="tables-data.html">Requisition Report</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                }
                else if (Session["Role"].ToString() == "5" || Session["Role"].ToString() == "6")
                {
                    role = "Department Representative";

                    <div id="main-menu" class="main-menu collapse navbar-collapse" style="background-color:black">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="@Url.Action("Index", "Home")"> <i class="menu-icon ti-dashboard"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="@Url.Action("RaiseRequisition","Employee")"> <i class="menu-icon ti-stats-up"></i>Raise Requisition </a>
                            </li>
                            <li>
                                <a href="widgets.html"> <i class="menu-icon ti-location-arrow"></i>Track Requisition </a>
                            </li>
                            <li>
                                <a href="widgets.html"> <i class="menu-icon ti-bookmark"></i>Order History </a>
                            </li>

                        </ul>
                    </div>
                }
                else if (Session["Role"].ToString() == "1")
                {
                    role = "Store Clerk";


                    <div id="main-menu" class="main-menu collapse navbar-collapse" style="background-color:black">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="@Url.Action("Index", "Home")"> <i class="menu-icon ti-dashboard"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ShowActiveSupplierlist", "Clerk")"> <i class="menu-icon ti-user"></i>Manage Supplier </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Manage", "Clerk")"> <i class="menu-icon ti-files"></i>Manage Inventory </a>
                            </li>
                            <li>
                                <a href="@Url.Action("SearchByTransDate", "Clerk")"> <i class="menu-icon ti-search"></i>Search Items by Date</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Requisition", "Clerk")"> <i class="menu-icon ti-pulse"></i>Process Requisition </a>
                            </li>
                            <li>
                                <a href="@Url.Action("RequisitionsComplete", "Clerk")"> <i class="menu-icon ti-folder"></i>Requisition Disbursement </a>
                            </li>
                            <li>
                                <a href="@Url.Action("StationaryRetrievalForm", "Clerk")"> <i class="menu-icon ti-file"></i> Item Retrieval Form </a>
                            </li>
                            <li>
                                <a href="@Url.Action("DisbursementLists", "Clerk")"> <i class="menu-icon ti-notepad"></i> Disbursement List </a>
                            </li>
                            <li>
                                <a href="@Url.Action("PurchaseOrders", "Clerk")"> <i class="menu-icon ti-share"></i>Purchase Orders </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Inventory", "Clerk")"> <i class="menu-icon ti-eye"></i>Inventory Check</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Outstanding", "Clerk")"> <i class="menu-icon ti-face-sad"></i> Outstandings</a>
                            </li>
                            <li class="menu-item-has-children dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Reports</a>
                                <ul class="sub-menu children dropdown-menu">
                                    <li><i class="fa fa-table"></i><a href="tables-basic.html">Item Trend Analysis</a></li>
                                    <li><i class="fa fa-table"></i><a href="tables-data.html">Monthly Item Usage</a></li>
                                    <li><i class="fa fa-table"></i><a href="tables-data.html">Order Report</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                }
                else if (Session["Role"].ToString() == "7")
                {
                    role = "Temp HOD";


                    <div id="main-menu" class="main-menu collapse navbar-collapse" style="background-color:black">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="@Url.Action("Index", "Home")"> <i class="menu-icon ti-dashboard"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="@Url.Action("RaiseRequisition","Employee")"> <i class="menu-icon ti-file"></i>Raise Requisition </a>
                            </li>
                            <li>
                                <a href="@Url.Action("OrderHistory", "HOD")"> <i class="menu-icon ti-files"></i>Order History </a>
                            </li>
                            <li>
                                <a href="@Url.Action("RequisitionsList", "HOD")"> <i class="menu-icon ti-check"></i> Requisitions List </a>
                            </li>

                        </ul>
                    </div>

                }
                else
                {
                    <div id="main-menu" class="main-menu collapse navbar-collapse" style="background-color:black">
                        <ul class="nav navbar-nav">
                            @if (Session["Role"].ToString() == "2")
                            {
                                role = "Supervisor";


                                <li class="active">
                                    <a href="@Url.Action("Index", "Home")"> <i class="menu-icon ti-dashboard"></i> Dashboard</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Approve", "Supervisor")"><i class="menu-icon ti-check"></i>Approve Adjustment</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("History", "Supervisor")"> <i class="menu-icon ti-files"></i>Adjustment History </a>
                                </li>
                            }
                            else if (Session["Role"].ToString() == "3")
                            {
                                role = "Manager";


                                <li class="active">
                                    <a href="@Url.Action("Approve","Manager")"> <i class="menu-icon ti-dashboard"></i>Dashboard</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Approve", "Manager")"><i class="menu-icon ti-check"></i>Approve Adjustment</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("History", "Manager")"> <i class="menu-icon ti-files"></i>Adjustment History </a>
                                </li>
                            }

                            else
                            {
                                <li class="active">
                                    <a href="@Url.Action("Index", "Home")"> <i class="menu-icon ti-dashboard"></i> Dashboard</a>
                                </li>
                            }

                            <li class="menu-item-has-children dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Reports</a>
                                <ul class="sub-menu children dropdown-menu">
                                    <li><i class="fa fa-table"></i><a href="tables-basic.html">Item Trend Analysis</a></li>
                                    <li><i class="fa fa-table"></i><a href="tables-data.html">Monthly Item Usage</a></li>
                                    <li><i class="fa fa-table"></i><a href="tables-data.html">Order Report</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                }

            }


        </nav>
    </aside><!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header sticky-top">
            <div class="header-menu">
                <div class="col-sm-5">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <div class="dropdown for-notification" id="notifications" >
                      
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="~/styles/images/admin.jpg" alt="@User.Identity.Name">
                        </a>
                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="@Url.Action("Logoff", "Account")"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>
                    <div class="text-info float-right" style="margin: 10 0 0 0; font-size: 12px;">
                        Welcome, @User.Identity.Name.ToUpper()<br />
                        <span class="text-dark"> @role |  @department</span>
                    </div>
                </div>
            </div>
        </header>


        <div class="col-md-12">
            @RenderBody()
        </div>

    </div>
    @*<script src="~/styles/js/jquery.min.js"></script>*@
    <script src="~/styles/js/popper.min.js"></script>
    <script src="~/styles/js/plugins.js"></script>
    <script src="~/styles/js/main.js"></script>
    <script src="~/styles/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="~/styles/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="~/styles/js/lib/vector-map/country/jquery.vmap.world.js"></script>

    <script src="~/styles/js/lib/data-table/datatables.min.js"></script>
    <script src="~/styles/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="~/styles/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/styles/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="~/styles/js/lib/data-table/jszip.min.js"></script>
    <script src="~/styles/js/lib/data-table/pdfmake.min.js"></script>
    <script src="~/styles/js/lib/data-table/vfs_fonts.js"></script>
    <script src="~/styles/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="~/styles/js/lib/data-table/buttons.print.min.js"></script>
    <script src="~/styles/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="~/styles/js/lib/data-table/datatables-init.js"></script>
    <script type="text/javascript" src="~/Styles/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="~/Styles/js/qrcode.js"></script>

    <!-- DataTable -->
    @RenderSection("scripts", required: false)

    <script>


        $(document).ready(function () {

            @*var interval = 3000;  // 1000 = 1 second, 3000 = 3 seconds
            function doAjax() {
                $.ajax({
                    url: '@Url.Action("GetNotifications", "Home")',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $(notifications).html(data);
                    }
                });
            }
            setTimeout(doAjax, interval);*@


            setInterval(function () {
                $.ajax({
                    url: '@Url.Action("GetNotifications", "Home")',
                    data: {},
                    type: 'GET',
                    success: function (data) {
                        $(notifications).html(data);
                    }
                });
            }, 2000);
        });






    </script>

</body>
</html>