
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                @if (Session["role"].ToString() == "7")
                {
                    <h1>Temporary Head of Department</h1>
                }
                else
                {
                    <h1>Employee</h1>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">

                            @if (Session["role"].ToString() == "7")
                            {
                                <div class="stat-icon dib"><a href="@Url.Action("RequisitionsList", "HOD")"><i class="ti-package text-info border-info"></i></a></div>
                            }
                            else
                            {
                                <div class="stat-icon dib"><a href="@Url.Action("TrackRequisitions")"><i class="ti-package text-info border-info"></i></a></div>
                            }
                            <div class="stat-content dib">
                                <div class="stat-text">Pending Requisitons</div>
                                <div class="stat-digit">@ViewBag.ReqCount</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            @if (Session["role"].ToString() == "7")
                            {
                                <div class="stat-icon dib"><a href="@Url.Action("RequisitionsList", "HOD")"><i class="ti-package text-info border-info"></i></a></div>
                            }
                            else
                            {
                                <div class="stat-icon dib"><a href="@Url.Action("TrackRequisitions")"><i class="ti-package text-info border-info"></i></a></div>
                            }
                            <div class="stat-content dib">
                                <div class="stat-text">In Progress Requisitons</div>
                                <div class="stat-digit">@ViewBag.InProReqCount</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><a href="@Url.Action("OrderHistory", "HOD")"><i class="ti-files text-warning border-warning"></i></a></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Previous Requisitons</div>
                                <div class="stat-digit">@ViewBag.OldReqCount</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
</div>

