@model LUSSISADTeam10Web.Models.Clerk.ApproveCollectionPointViewModel
@{
    ViewBag.Title = "ApproveCollectionPoint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
    </style>
}
<h3>Approve CollectionPoint</h3>

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Title Here</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "HOD")">Dashboard</a></li>
                    <li class="active">Title Here</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">


        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-align-justify"></i>
                <strong class="card-title"> Title Here </strong>
            </div>
            <div class="card-body">

                <dl class="dl-horizontal">
                    <dt>
                        Department Collection Point:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CpID)
                    </dd>


                </dl>
            </div>

            <form asp-action="ApproveCollectionPoint" asp-controller="Clerk" method="post">
                <div class="form-check-inline form-check">
                    <label for="inline-radio1" class="form-check-label ">
                        <input type="hidden" name="CpID" asp-for="@Model.CpID" value="@Model.CpID" />
                        <input type="radio" id="inline-radio1" name="approve" asp-for="@Model.Approve" value="true" class="form-check-input"> Approve
                    </label>
                    <label for="inline-radio2" class="form-check-label ">
                        <input type="radio" id="inline-radio2" name="approve" asp-for="@Model.Approve" value="false" class="form-check-input"> Reject
                    </label>
                </div>


                <input type="Submit" class="btn btn-outline-success btn-flat m-b-30 m-t-30" value="Submit">
            </form>


        </div>
    </div>



</div>
</div>

@section Scripts {
    <script type="text/javascript"></script>
}
