@model IEnumerable<LUSSISADTeam10Web.Models.APIModels.SupplierItemModel>

@{
    ViewBag.Title = "csvsupplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
    
        <th>
            @Html.DisplayNameFor(model => model.SupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.SupName)
        </td>
        <td>
            @Html.DropDownListFor(modelItem => item.CategoryName, new SelectList(ViewBag.catlist))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
