@model LUSSISADTeam10Web.Models.APIModels.RequisitionWithDisbursementModel

@{
    ViewBag.Title = "Disbursement Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
        @@media (max-width: 575.99px) {
            #qrgenerate {
                padding: 0px !important;
            }
        }
    </style>
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Disbursement Detail</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8 hideinmobile">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "Clerk")">Dashboard</a></li>
                    <li><a href="@Url.Action("DisbursementLists", "Clerk")">Disbursements List</a></li>
                    <li class="active">Disbursement Detail</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">


        <div class="card">

            <div class="card-body">

                <div class="mx-auto d-block">
                    <div>  <h5 class="text-sm-center text-info hideinmobile"> <i class="fa fa-newspaper-o fa-3x"></i><br /> Disbursement Detail </h5></div>                    <h6>Raised By :  @Model.Rasiedbyname </h6><br />
                    <h6>Approved By :  @Model.Approvedbyname </h6><br />
                    <h6>Department : @Model.Depname</h6><br />
                    <h6>Collection Point : @Model.Cpname</h6><br />
                    <h6>Locker Name : @Model.LockerName</h6><br />
                    <h6>Requested Date :  @Model.Reqdate.Value.ToString("d")</h6><br />
                    <h6>
                        Status :
                        @if (Model.Status == 4)
                        {
                            <span> Delivered </span>
                        }
                        else if (Model.Status == 5)
                        {
                            <span> Outstanding </span>
                        }
                        else if (Model.Status == 6)
                        {
                            <span> Completed </span>
                        }
                    </h6><br />

                    <div class="text-sm-center">

                        <table class="table table-bordered table-hover">
                            <thead class="table-info">
                                <tr>
                                    <th>Item</th>
                                    <th class="hideinmobile">Category</th>
                                    <th>Request Qty</th>
                                    <th>Approved Qty</th>
                                    <th class="hideinmobile">UOM</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Requisitiondetails)
                                {
                                    <tr>
                                        <td>@item.Itemname</td>
                                        <td class="hideinmobile">@item.CategoryName</td>
                                        <td>@item.RequestQty</td>
                                        <td>@item.ApprovedQty</td>
                                        <td class="hideinmobile">@item.UOM</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
                <hr>
                <div class="card-text text-sm-right">
                    <div class="btn btn-outline-info" onclick="generate()" data-toggle="modal" data-target="#myModal">View QR</div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="ti-info text-warning" style="font-size : 40px "></i><h5 class="modal-title " id="smallmodalLabel"> &nbsp; &nbsp; QR Code</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">

                <div id="qrgenerate" class="center-block" style="padding : 20px 20px 0 109px;"></div>

            </div>
            <div class="modal-footer">
                <button type="button" href="#" data-dismiss="modal" class = "btn btn-outline-success">Ok</button>

            </div>

        </div>

    </div>

</div>


@section Scripts {




    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script type="text/javascript">
        var count = 0;
        function generate() {
            $("#myModal").show();
            if (count == 0)
                {
                jQuery('#qrgenerate').qrcode('@Model.Reqid');
                count++;
            }
        }


    </script>

}
