@model IEnumerable<LUSSISADTeam10Web.Models.APIModels.RequisitionWithDisbursementModel>


@{
    ViewBag.Title = "Disbursements List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
<style>
    @@media only screen and (max-width: 600px) {

        .container *, .card-body {
            padding-left: 0px;
            padding-right: 0px;
            font-size: 12px !important;
        }
    }
</style>
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Disbursements List</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8 hideinmobile">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "Clerk")">Dashboard</a></li>
                    <li class="active">Disbursements List</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">


        <div class="card">
            
            <div class="card-body">
                @if (ViewBag.ShowItems)
                {
                    <div>  <h5 class="text-sm-center text-info hideinmobile"> <i class="fa fa-newspaper-o fa-3x"></i><br /> Disbursement List </h5></div><br />
                    <div class="container">

                        @{int j = 0; }
                        @{int i = 0;}
                        @foreach (string cpname in ViewBag.CollectionPointNames)
                        {
                            <div class="panel-group" id="accordionp_@j" role="tablist">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="ppanel_@j">
                                        <h4 class="panel-title">

                                            @{
                                                var modelreqs = Model.Where(x => x.Cpname == cpname).ToList();
                                                var ReqCount = modelreqs.Count;
                                            }
                                            <a class="text-info" data-toggle="collapse" data-parent="#accordionp_@j" data-target="#collapseTwo_@j" href="#collapseTwo_@j" aria-expanded="true" aria-controls="accordionp_@j">
                                                &nbsp @cpname

                                                <em>(@ReqCount Requisitions..)</em>
                                            </a>

                                        </h4>
                                    </div>
                                    <hr />
                                    <div id="collapseTwo_@j" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseTwo_@j">
                                        <div class="panel-body">



                                            <div class="container">


                                                @foreach (var itemreq in modelreqs)
                                                {
                                                    <div class="panel-group" id="accordion_@i" role="tablist">
                                                        <div class="panel" style="border: 1px dotted skyblue; margin: 10px; padding:10px;">
                                                            <div class="panel-heading" role="tab" id="panel_@i">
                                                                <h4 class="panel-title">

                                                                    <a class="text-info" data-toggle="collapse" data-parent="#accordion_@i" data-target="#collapseOne_@i" href="#collapseOne_@i" aria-expanded="true" aria-controls="accordion_@i">
                                                                        Department : @itemreq.Depname
                                                                        -
                                                                        Requistion ID : @itemreq.Reqid
                                                                    </a>
                                                                </h4>
                                                            </div>

                                                            <div id="collapseOne_@i" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseOne_@i">
                                                                <div class="panel">
                                                                    <hr />
                                                                    <h6>Raised By :  @itemreq.Rasiedbyname </h6><br />
                                                                    <h6>Approved By :  @itemreq.Approvedbyname </h6><br />
                                                                    <h6>Collection Point : @itemreq.Cpname</h6><br />
                                                                    <h6>Locker Name : @itemreq.LockerName</h6><br />
                                                                    <h6>Requested Date :  @itemreq.Reqdate.Value.ToString("d")</h6><br />
                                                                    <div class="text-sm-center">

                                                                        <table class="table table-bordered table-hover">
                                                                            <thead class="table-info">
                                                                                <tr>
                                                                                    <th>Item</th>
                                                                                    <th class="hideinmobile">Category</th>
                                                                                    <th>Qty</th>
                                                                                    <th>UOM</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @foreach (var item in itemreq.Requisitiondetails)
                                                                                {
                                                                                    if (item.ApprovedQty > 0)
                                                                                    {
                                                                                        <tr>
                                                                                            <td>@item.Itemname</td>
                                                                                            <td class="hideinmobile">@item.CategoryName</td>
                                                                                            <td>@item.ApprovedQty</td>
                                                                                            <td>@item.UOM</td>
                                                                                        </tr>
                                                                                    }
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                        <a href="@Url.Action("ItemDelivered", "Clerk", new { id = itemreq.Reqid })" class="btn btn-sm btn-outline-info pull-right"> Item Delivered  <i class="fa fa-arrow-right"> </i> </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <br />
                                                        </div>
                                                    </div>
                                                    i++;
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            j++;
                        }

                    </div>
                }
                else
                {
                     <h5 class="text-center text-info">There is no disbursements yet!!!</h5>
                    
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <link href="~/Styles/css/accordion.css" rel="stylesheet" />

}
