@model IEnumerable<LUSSISADTeam10Web.Models.APIModels.InventoryModel>
@{
    ViewBag.Title = "ManageItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
    </style>
}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Item List</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "Clerk")">Dashboard</a></li>
                    <li class="active">Manage Items</li>
                    <li>
                        <a href="@Url.Action("SearchByTransDate", "Clerk")"> SearchItembyTransactionDate </a>
                    </li>

                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">@ViewBag.suppliername</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead class="table-info">
                                <tr>
                                    <th>
                                        <h6><b>Item</b></h6>
                                    </th>
                                    <th>
                                        <h6><b>Category</b></h6>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UOM)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Stock)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReorderLevel)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReorderQty)
                                    </th>
                                    <th >
                                    </th>

                                </tr>
                                
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.ItemDescription)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UOM)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Stock)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReorderLevel)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReorderQty)
                                    </td>
                                  
                                    <td>
                                        <div class="row">
                                            <div class="col-md-1">
                                            <a href="@Url.Action("EditItem", new { id = item.Invid })" >
                                                <span class="ti-pencil-alt"></span>
                                            </a>
                                        </div>
                                   
                                        <div class="col-md-3">
                                            <a href="@Url.Action("ItemTran", new { id = item.Itemid })">
                                                <span class="ti-notepad "></span>
                                            </a>
                                        </div>
                                        </div>
                                    </td>

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


