@model IEnumerable<LUSSISADTeam10Web.Models.APIModels.InventoryModel>
@{
    ViewBag.Title = "ManageItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
    </style>
}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Item List</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Dashboard</a></li>

                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Manage Item</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead class="table-info">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>UOM</th>
                                    <th>Stock</th>
                                    <th>Reorder Level</th>
                                    <th>Reorder Qty</th>
                                    <th>Edit</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Itemid)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ItemDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UOM)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Stock)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReorderLevel)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReorderQty)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditItem", new { id = item.Itemid })"> <i class="fa fa-edit fa-2x text-info"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="@Url.Action("ShowDeActiveSupplierlist", "Clerk" )" class="btn btn-outline-success pull-right btn-flat m-b-50 m-t-50">Ok</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


