@model IEnumerable<LUSSISADTeam10Web.Models.APIModels.PurchaseOrderModel>

@{
    ViewBag.Title = "Purchase Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
    </style>
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Purchase Orders</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "Clerk")">Dashboard</a></li>
                    <li class="active">Purchase Orders</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">


        <div class="card">
            <div class="card-body">
                <div>  <h5 class="text-sm-center text-info"> <i class="ti-shopping-cart fa-3x"></i><br /> Purchase Orders </h5></div><br />
                <div class="container">

                    <div class="panel-group" id="accordion">
                        @foreach (var item in Model)
                        {
                            <div class="panel panel-default" style="border: 1px dotted skyblue; margin: 10px; padding:10px;">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="#@item.PoId">
                                            Purchase Order ID : @item.PoId
                                            -
                                            Supplier : @item.SupName
                                        </a>
                                    </h4>
                                </div>
                                <div id="@item.PoId" class="panel-collapse">
                                    <div class="panel-body">
                                        <hr />
                                        <h6>PO ID :  @item.PoId </h6><br />
                                        <h6>Supplier :  @item.SupName </h6><br />
                                        <h6>PO Date : @item.Podate.Value.ToString("d")</h6><br />
                                        <h6>Total Price : <span id="totalprice"></span></h6><br />
                                        <div class="text-sm-center">

                                            <table class="table table-bordered table-hover">
                                                <thead class="table-info">
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Description</th>
                                                        <th>Quantity</th>
                                                        <th>Price</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ double? total = 0.0; }
                                                    @foreach (var items in item.podms)
                                                    {
                                                        total += (items.Qty * items.Price as double?);
                                                        var amount = items.Qty * items.Price;
                                                        <tr>
                                                            <td>@items.Itemid</td>
                                                            <td>@items.ItemDescription</td>
                                                            <td>@items.Qty</td>
                                                            <td>S$ @items.Price</td>
                                                            <td>S$ @amount</td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <script>
                                   document.getElementById('totalprice').innerHTML = @total;
                            </script>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $('.panel-group').on('show.bs.collapse shown.bs.collapse hide.bs.collapse hidden.bs.collapse', function (e) {
            e.stopPropagation();
        });
    </script>
}

