@model IEnumerable<LUSSISADTeam10Web.Models.APIModels.PurchaseOrderModel>

@{
    ViewBag.Title = "Purchase Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
    </style>
}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Purchase Orders</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8 hideinmobile">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "Clerk")">Dashboard</a></li>
                    <li class="active">Purchase Orders</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-body">
                        <div><a href="@Url.Action("PurchaseOrder")" class="btn btn-sm btn-outline-primary pull-right">Raise PO</a></div><br /><br />
                        <div><h5 class="text-sm-center text-info hideinmobile"> <i class="ti-shopping-cart fa-3x"></i><br />Purchase Orders </h5></div><br />
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead class="table-info">
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th class="hideinmobile">
                                        Raised By
                                    </th>
                                    <th>
                                        Supplier
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Podate.Value.ToString("d")
                                        </td>
                                        <td class="hideinmobile">
                                            @item.Fullname
                                        </td>
                                        <td>
                                            @item.SupName
                                        </td>
                                        <td>
                                            @switch (item.Status)
                                            {
                                                case 0:
                                                    <span>Pending</span>
                                                    break;
                                                case 1:
                                                    <span>Received</span>
                                                    break;
                                                case 2:
                                                    <span>Cancelled</span>
                                                    break;
                                            }
                                        </td>

                                        <td>
                                            @if (item.Status != 0)
                                            {
                                                <a href="@Url.Action("PurchaseOrderDetail", "Clerk",  new {id = item.PoId }, null)" class="btn btn-outline-info btn-sm"> View</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("ProcessPurchaseOrderDetail", "Clerk",  new {id = item.PoId }, null)" class="btn btn-outline-info btn-sm">Update</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


