@model LUSSISADTeam10Web.Models.Clerk.ProcessRequisitionViewModel

@{
    ViewBag.Title = "Requisition Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
    </style>
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Process Requisition</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "Clerk")">Dashboard</a></li>
                    <li><a href="@Url.Action("Requisition", "Clerk")">Requisition List</a></li>
                    <li class="active">Process Requisition</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">


        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-align-justify"></i>
                <strong class="card-title"> Requisition Detail : @ViewBag.Requisition.Reqid </strong>
            </div>
            <div class="card-body">



                <div class="card">

                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <h5 class="text-sm-center text-info"> <i class="fa fa-braille fa-3x"></i><br /> Process Requisition </h5><br />
                            <h6>Raised By :  @ViewBag.Requisition.Rasiedbyname </h6><br />
                            <h6>Collection Point : @ViewBag.Requisition.Cpname</h6><br />
                            <h6>Requested Date :  @Convert.ToDateTime(ViewBag.Requisition.Reqdate).ToShortDateString()</h6><br />
                            <h6>Approved By : <strong>@ViewBag.Requisition.Approvedbyname</strong></h6><br />
                            
                            <div class="text-sm-center">

                                <table class="table table-bordered table-hover">
                                    <thead class="table-info">
                                        <tr>
                                            <th>Item Name</th>
                                            <th>Category Name</th>
                                            <th>Quantity</th>
                                            <th>Stock</th>
                                            <th>Approve Qty</th>
                                            <th>UOM</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.Requisition.Requisitiondetails)
                                        {
                                        <tr>
                                            <td>@item.Itemname</td>
                                            <td>@item.CategoryName</td>

                                            @{ var style = "text-danger"; }
                                            @if (item.Qty < item.Stock)
                                            {
                                                style = "text-info";
                                            }
                                            <td class="@style">@item.Qty</td>
                                            <td class="@style">@item.Stock</td>
                                            <td>@Html.EditorFor(model => model.ReqItems, new {   })</td>
                                            <td>@item.UOM</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>


                        <hr>


                        <div class="card-text text-sm-right">
                            <input type="submit"  class="btn btn-outline-info" value="Approve"/>
                        </div>
                    </div>
                </div>


            </div>
        </div>



    </div>
</div>

@section Scripts {
    <script type="text/javascript"></script>
}




