@model LUSSISADTeam10Web.Models.Clerk.ProcessRequisitionViewModel

@{
    ViewBag.Title = "Requisition Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Process Requisition</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8 hideinmobile">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "Clerk")">Dashboard</a></li>
                    <li><a href="@Url.Action("Requisition", "Clerk")">Requisition List</a></li>
                    <li class="active">Process Requisition</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">


        <div class="card">

            <div class="card-body">

                <div class="card">

                    <div class="card-body">
                        <form method="post">

                            <div class="mx-auto d-block">
                                <h5 class="text-sm-center text-info hideinmobile"> <i class="fa fa-braille fa-3x"></i><br /> Process Requisition </h5><br />
                                <h6>Raised By :  @ViewBag.Requisition.Rasiedbyname </h6><br />
                                <h6>Collection Point : @ViewBag.Requisition.Cpname</h6><br />
                                <h6>Requested Date :  @Convert.ToDateTime(ViewBag.Requisition.Reqdate).ToShortDateString()</h6><br />
                                <h6>Approved By : <strong>@ViewBag.Requisition.Approvedbyname</strong></h6><br />

                                <div class="text-sm-center">
                                    <input type="hidden" name="ReqID" value="@ViewBag.Requisition.Reqid" />
                                    <table class="table table-bordered table-hover">
                                        <thead class="table-info">
                                            <tr>
                                                <th>Item</th>
                                                <th class="hideinmobile">Category Name</th>
                                                <th>Qty</th>
                                                <th>Stock</th>
                                                <th>Approve Qty</th>
                                                <th class="hideinmobile">UOM</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ReqItems)
                                            {
                                                <tr>

                                                    <td>@item.ItemName</td>
                                                    <td class="hideinmobile">@item.CategoryName</td>

                                                    @{ var style = "text-danger"; var approveqty = item.Stock; }
                                                    @if (item.Qty < item.Stock)
                                                    {
                                                        style = "text-info";
                                                        approveqty = item.Qty;
                                                    }
                                                    else if(item.Qty == item.Stock)
                                                    {
                                                        style = "text-warning";
                                                    }
                                                    <td class="@style">@item.Qty</td>
                                                    <td class="@style">@item.Stock</td>
                                                    <td>
                                                        <input type="hidden" value="@item.ItemID" name="ItemIDs" />
                                                        <input type="number" required value="@approveqty" name="ApproveQtys" min="0" max="@approveqty" class="form-control form-control-sm" />
                                                    </td>
                                                    <td class="hideinmobile">@item.UOM</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>


                                </div>
                            </div>


                            <hr>


                            <div class="card-text text-sm-right">
                                <input type="submit" class="btn btn-outline-info" value="Approve" />
                            </div>
                        </form>

                    </div>
                </div>


            </div>
        </div>



    </div>
</div>




