@model IEnumerable<LUSSISADTeam10Web.Models.APIModels.SupplierItemModel>
@{
    ViewBag.Title = "SupllierDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
<style>
</style>
}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Supplier's Item Details</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8 hideinmobile">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                    <li><a href="@Url.Action("ShowActiveSupplierlist", "Clerk")">Suppliers</a></li>
                    <li><a href="#">Supplier's Item Details</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">@ViewBag.suppliername</strong>
                    </div>
                    <div class="card-body">
                        <h5 class="text-sm-center text-info hideinmobile"> <i class="fa fa-shopping-basket fa-3x"></i><br /><br /> Supplier's Item Details </h5><br />
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead class="table-info">
                                <tr>
                                    <th>Category</th>
                                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                                    <th>@Html.DisplayNameFor(model => model.Uom)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Uom)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="@Url.Action("ShowDeActiveSupplierlist", "Clerk" )" class="btn btn-outline-success pull-right btn-flat m-b-50 m-t-50">Ok</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


