@model IEnumerable<LUSSISADTeam10Web.Models.APIModels.AdjustmentModel>
@using LUSSISADTeam10Web.Constants;

@{
    ViewBag.Title = "Approve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Adjustment Form</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "Supervisor")">Dashboard</a></li>
                    <li class="active"><a href="@Url.Action("Approval","Supervisor")">Pending Approval</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <br />
    <h5 class="text-sm-center text-info"> <i class="ti-stamp fa-3x"></i><br /> Pending Approval Adjustments</h5><br />
    <div class="panel-group" id="accordion">

        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-caret-square-o-down" style="font-size:20px"></i>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="font-weight:600">Adjustments Reported to Manager</a>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="card" style="border:hidden">

                            <div class="card card-body" style="border:hidden">
                                <table id="bottstrap-data-table">
                                    <tr style="background-color:lightblue;height:45px">
                                        <th>
                                            Issued Date
                                        </th>
                                        <th>
                                            Reported By
                                        </th>
                                        <th>
                                            Reported To
                                        </th>
                                        <th>
                                            Total Price Adjusted
                                        </th>
                                        <th></th>
                                    </tr>
                                    @foreach (var item in ViewBag.manager)
    {
                                <tr style="height:40px">
                                    <td>
                                        @Convert.ToDateTime(item.Issueddate).ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @item.Raisedbyname
                                    </td>
                                    <td>
                                        @item.Raisedtoname
                                    </td>
                                    <td>
                                        $@item.TotalPrice
                                    </td>
                                </tr>
                                <tr style="height:40px;background-color:aliceblue">
                                    <th>Category</th>
                                    <th>Item</th>
                                    <th>Adjusted Qty</th>
                                    <th>UOM</th>
                                    <th>Price</th>
                                    <th>Reason</th>
                                </tr>
foreach (var i in item.Adjds)
{

                                <tr style="border:hidden;width:inherit;height:40px;background-color:aliceblue">
                                    <td>
                                        @i.CategoryName
                                    </td>
                                    <td>
                                        @i.Itemdescription
                                    </td>
                                    <td>
                                        @i.Adjustedqty
                                    </td>
                                    <td>
                                        @i.UOM
                                    </td>
                                    <td>
                                        $@i.Price
                                    </td>
                                    <td>
                                        @if (i.Reason == "" || i.Reason == null)
        {
            i.Reason = "_";
        }
                                        @i.Reason
                                    </td>
                                </tr>
}
}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content mt-3">
        <div class="animated fadeIn">


            <div class="card">
                <div class="card-header">
                    <i class="mr-2 fa fa-align-justify"></i>
                    <strong class="card-title">Adjustments Reported to Supervisor </strong>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <table id="bootstrap-data-table">
                                <tr style="background-color:lightblue;height:45px">
                                    <th>
                                        Issued Date
                                    </th>
                                    <th>
                                        Reported By
                                    </th>
                                    <th>
                                        Reported To
                                    </th>
                                    <th>
                                        Total Price Adjusted
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr style="height:45px">
                                        <td>
                                            @Convert.ToDateTime(item.Issueddate).ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem=> item.Raisedbyname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem=> item.Raisedtoname)
                                        </td>
                                        <td>
                                            $@Html.DisplayFor(modelItem=> item.TotalPrice)
                                        </td>
                                        <td>
                                            @using (Html.BeginForm("Approve", "Supervisor", new { id = item.Adjid }))
                                            {
                                                <input type="submit" class="btn-block btn-group-sm btn-primary" value="Approve" />
                                            }
                                        </td>
                                    </tr>
                                    <tr style="background-color:aliceblue">
                                        <th>Category</th>
                                        <th>Item</th>
                                        <th>Adjusted Qty</th>
                                        <th>UOM</th>
                                        <th>Price</th>
                                        <th>Reason</th>
                                    </tr>
                                    foreach (var i in item.Adjds)
                                    {

                                        <tr style="border:hidden;width:inherit;background-color:aliceblue">
                                            <td>
                                                @i.CategoryName
                                            </td>
                                            <td>
                                                @i.Itemdescription
                                            </td>
                                            <td>
                                                @i.Adjustedqty
                                            </td>
                                            <td>
                                                @i.UOM
                                            </td>
                                            <td>
                                                $@i.Price
                                            </td>
                                            <td>
                                                @if (i.Reason == "" || i.Reason == null)
                                                {
                                                    i.Reason = "_";
                                                }
                                                @i.Reason
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
