@model IEnumerable<LUSSISADTeam10Web.Models.APIModels.AdjustmentModel>
@using LUSSISADTeam10Web.Constants;

@{
    ViewBag.Title = "Approve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <style>
        @@media only screen and (max-width: 600px) {

            .container *, .card-body {
                padding-left: 0px;
                padding-right: 0px;
                font-size: 12px !important;
            }
        }
    </style>
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Adjustment Form</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8 hideinmobile">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "Supervisor")">Dashboard</a></li>
                    <li class="active"><a href="@Url.Action("Approval","Supervisor")">Pending Approval</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">

        <div class="card">

            <div class="card-body">
                <div>
                    <h5 class="text-sm-center text-info hideinmobile"> <i class="ti-stamp fa-3x"></i><br /> Pending Approval Adjustments</h5><br />
                    <div class="content mt-3">
                        <div class="animated fadeIn">
                            <div class="card">
                                <div class="card-body">
                                    <div class="container">

                                        @{int k = 0;}
                                        @{int l = 0;}
                                        <div class="panel-group" id="accordionp1_@l" role="tablist">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="ppanel1_@l">
                                                    <h4 class="panel-title">
                                                        <a class="text-info" data-toggle="collapse" data-parent="#accordionp1_@l" data-target="#collapseTwo1_@l" href="#collapseTwo1_@l" aria-expanded="true" aria-controls="accordionp1_@l">
                                                            Adjustments Repoted to Manager  
                                                        </a>
                                                    </h4>
                                                </div>
                                                <hr />
                                                <div id="collapseTwo1_@l" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseTwo1_@l">
                                                    <div class="panel-body">
                                                        <div class="container">
                                                            @foreach (var item in ViewBag.manager)
                                                            {
                                                                <div class="panel-group" id="accordion2_@k" role="tablist">
                                                                    <div class="panel" style="border: 1px dotted skyblue; margin: 10px; padding:10px;">
                                                                        <div class="panel-heading" role="tab" id="panel2_@k">
                                                                            <h4 class="panel-title">

                                                                                <a class="text-info" data-toggle="collapse" data-parent="#accordion2_@k" data-target="#collapseOne2_@k" href="#collapseOne2_@k" aria-expanded="true" aria-controls="accordion2_@k">
                                                                                    Adjustment List Reported by @item.Raisedbyname on @Convert.ToDateTime(item.Issueddate).ToString("dd/MM/yyyy")
                                                                                </a>
                                                                            </h4>
                                                                        </div>

                                                                        <div id="collapseOne2_@k" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseOne2_@k">
                                                                            <div class="panel">
                                                                                <hr />
                                                                                <h6>Reported By :  @item.Raisedbyname </h6><br />
                                                                                <h6>Reported To :  @item.Raisedtoname</h6><br />
                                                                                <h6>Total Price Adjusted: @item.TotalPrice</h6><br />
                                                                                <h6>Issued Date : @Convert.ToDateTime(item.Issueddate).ToString("dd/MM/yyyy")</h6><br />
                                                                                <div class="text-sm-center">

                                                                                    <table class="table table-bordered table-hover">
                                                                                        <thead class="table-info">
                                                                                            <tr>
                                                                                                <th>Category</th>
                                                                                                <th class="hideinmobile">Item</th>
                                                                                                <th>Adjusted Qty</th>
                                                                                                <th>UOM</th>
                                                                                                <th>Price</th>
                                                                                                <th class="hideinmobile">Reason</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @foreach (var aid in item.Adjds)
                                                                                            {
                                                                                                <tr>
                                                                                                    <td class="hideinmobile">
                                                                                                        @aid.CategoryName
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        @aid.Itemdescription
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        @aid.Adjustedqty
                                                                                                    </td>
                                                                                                    <td class="hideinmobile">
                                                                                                        @aid.UOM
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        $@aid.Price
                                                                                                    </td>
                                                                                                    <td class="hideinmobile">
                                                                                                        @if (aid.Reason == "" || aid.Reason == null)
                                                                                                        {
                                                                                                            aid.Reason = "_";
                                                                                                        }
                                                                                                        @aid.Reason
                                                                                                    </td>

                                                                                                </tr>

                                                                                            }
                                                                                        </tbody>
                                                                                    </table>
                                                                                   
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <br />
                                                                        <br />
                                                                    </div>
                                                                </div>
                                                                k++;
                                                            }
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content mt-3">
                        <div class="animated fadeIn">


                            <div class="card">

                                <div class="card-body">

                                    <div class="container">


                                        @{int i = 0;}
                                        @{int j = 0;}

                                        <div class="panel-group" id="accordionp_@j" role="tablist">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="ppanel_@j">
                                                    <h4 class="panel-title">
                                                        <a class="text-info" data-toggle="collapse" data-parent="#accordionp_@j" data-target="#collapseTwo_@j" href="#collapseTwo_@j" aria-expanded="true" aria-controls="accordionp_@j">
                                                            Pending Approvals Adjustments
                                                        </a>
                                                    </h4>
                                                </div>
                                                <hr />
                                                <div id="collapseTwo_@j" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseTwo_@j">
                                                    <div class="panel-body">
                                                        <div class="container">
                                                            @foreach (var item in Model)
                                                            {
                                                                <div class="panel-group" id="accordion_@i" role="tablist">
                                                                    <div class="panel" style="border: 1px dotted skyblue; margin: 10px; padding:10px;">
                                                                        <div class="panel-heading" role="tab" id="panel_@i">
                                                                            <h4 class="panel-title">

                                                                                <a class="text-info" data-toggle="collapse" data-parent="#accordion_@i" data-target="#collapseOne_@i" href="#collapseOne_@i" aria-expanded="true" aria-controls="accordion_@i">
                                                                                    Adjustment List Reported by @item.Raisedbyname on @Convert.ToDateTime(item.Issueddate).ToString("dd/MM/yyyy")
                                                                                </a>
                                                                            </h4>
                                                                        </div>

                                                                        <div id="collapseOne_@i" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseOne_@i">
                                                                            <div class="panel">
                                                                                <hr />
                                                                                <h6>Reported By :  @item.Raisedbyname </h6><br />
                                                                                <h6>Reported To :  @item.Raisedtoname</h6><br />
                                                                                <h6>Total Price Adjusted: @item.TotalPrice</h6><br />
                                                                                <h6>Issued Date : @Convert.ToDateTime(item.Issueddate).ToString("dd/MM/yyyy")</h6><br />
                                                                                <div class="text-sm-center">

                                                                                    <table class="table table-bordered table-hover">
                                                                                        <thead class="table-info">
                                                                                            <tr>
                                                                                                <th>Category</th>
                                                                                                <th class="hideinmobile">Item</th>
                                                                                                <th>Adjusted Qty</th>
                                                                                                <th>UOM</th>
                                                                                                <th>Price</th>
                                                                                                <th class="hideinmobile">Reason</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @foreach (var aid in item.Adjds)
                                                                                            {
                                                                                                <tr>
                                                                                                    <td class="hideinmobile">
                                                                                                        @aid.CategoryName
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        @aid.Itemdescription
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        @aid.Adjustedqty
                                                                                                    </td>
                                                                                                    <td class="hideinmobile">
                                                                                                        @aid.UOM
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        $@aid.Price
                                                                                                    </td>
                                                                                                    <td class="hideinmobile">
                                                                                                        @if (aid.Reason == "" || aid.Reason == null)
                                                                                                        {
                                                                                                            aid.Reason = "_";
                                                                                                        }
                                                                                                        @aid.Reason
                                                                                                    </td>

                                                                                                </tr>

                                                                                            }
                                                                                        </tbody>
                                                                                    </table>
                                                                                    @using (Html.BeginForm("Approve", "Supervisor", new { id = item.Adjid }))
                                                                                    {
                                                                                        <input type="submit" class="btn btn-outline-success pull-right" value="Approve" />
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <br />
                                                                        <br />
                                                                    </div>
                                                                </div>
                                                                i++;
                                                            }
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {

        <link href="~/Styles/css/accordion.css" rel="stylesheet" />

        <link href="~/Styles/css/collapse-row.css" rel="stylesheet" />
        <script src="~/Styles/Scripts/pagination.js"></script>
        <link href="~/Styles/css/accordion.css" rel="stylesheet" />

        <script src="jquery.min.js"></script>
        <script src="eFreezeTable.js"></script>

        <script>
            $('.header').click(function () {
                $(this).toggleClass('expand').nextUntil('tr.header').slideToggle(100);
            });;
        </script>

    }
