@model IEnumerable<LUSSISADTeam10Web.Models.Supervisor.AdjustmentViewModel>
@using LUSSISADTeam10Web.Constants;

@{
    ViewBag.Title = "Approve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table" width="100%">
    <tr>
        <th>
            Issued Date
        </th>
        <th>
            Reported By
        </th>
        <th>
            Reported To
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="background-color:lightblue">
            <td>
                @Html.DisplayFor(modelItem => item.Issueddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raisedbyname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaisedTobyname)
            </td>
            <td></td>
            <td>
                <input type="submit" class="btn-block btn-group-sm btn-primary" value="Approve"
                       @*@if (item.RaisedTo == ConUser.Role.MANAGER) {@disabled = "disabled"}; />*@
                       }
            </td>
        </tr>
        <tr>
            <th>Category</th>
            <th>Item</th>
            <th>Adjusted Qty</th>
            <th>UOM</th>
            <th>Price</th>
            <th>Reason</th>
        </tr>
        foreach (var i in item.adjdvm)
        {

            <tr style="border:hidden;width:inherit">
                <td>
                    @Html.DisplayFor(modelItem => i.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.Itemdescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.Adjustedqty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.UOM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.Reason)
                </td>
            </tr>
        }
    }
</table>
