@model IEnumerable<LUSSISADTeam10Web.Models.APIModels.AdjustmentModel>

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Adjustments History Form</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8 hideinmobile">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                    <li class="active">History</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="card">

            <div class="card-body">
                <h5 class="text-sm-center text-info hideinmobile"> <i class="fa fa-history fa-3x"></i><br /> Adjustments History </h5><br />
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead class="table-info">
                            <tr>
                                <th>
                                    Issued Date
                                </th>
                                <th>
                                    Reported By
                                </th>
                                <th>
                                    Reported To
                                </th>
                                <th>
                                    Total Price
                                </th>
                                <th>
                                    Detail
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
        {
                    <tr>
                        <td>
                            @Convert.ToDateTime(item.Issueddate).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Raisedbyname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Raisedtoname)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.TotalPrice)
                        </td>
                        <td>
                            <div class="col-md-3">
                                <a href="@Url.Action("HistoryDetail", new {id= item.Adjid})">
                                        <span class="ti-notepad text-info fa-2x" align="center"></span>
                                    </a>
                            </div>
                        </td>
                    </tr>
}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>