@model IEnumerable<LUSSISADTeam10Web.Models.APIModels.OrderHistoryModel>

@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderHistory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.reqdate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.raisename)
        </th>
        <th>
            <label>Status</label>
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.reqdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.raisename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)

        </td>
        



    </tr>
}

</table>
